@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&display=swap');
.card-text{
   
    font-size: 0.6rem;
    color: black !important;
    font-family: 'Arima Madurai', cursive;
    font-size:large !important;
}