.cardrechercher{
   
    box-shadow: none !important; 
    border: none !important;
    padding: 1rem 0!important;
    display: flex;
    align-items: center;
    flex-direction: column; 
    border: solid 2px #1D261F; 
     
}
.divrechercher{
    margin: 20px;
}

