.divcreatarticle{
    
    display: flex;
    align-items: center;
    flex-direction: column; 
    width: 1260px;
    height: 500px;
    position: relative;
    
}
.imagecreatarticle{
    height: 500px;
    width: 1250px;
  
}