@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
.articleselectionner{
  
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
   
    
}
.card.cardarticle{
    
}
h2{
    font-family: 'Lateef', cursive;
}
