body{
    border: brown 3px solid;
    width: auto;
}
.jpp{
border: blueviolet 3px solid;
    height: auto;
display: block;
align-content: center;
display: flex;
}
.header{
   
}

@media all and (max-width: 1024px){
  
}