@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Raleway&display=swap');


.contain{
   border: blueviolet 3px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-family: 'Amiri', serif;
    position: static;
    bottom: 0; 
   width: 90%;
   height: 60px;
   /* line-height: 60%; */

}
